sudo: required

before_install:
- git checkout $TRAVIS_BRANCH

- if [ $(bii-support/travis/git/is_last_commit_travis.sh) = "true" ] ; then exit 0 ; fi
- bii-support/travis/git/configure.sh

install:
- bii-support/travis/install/apt_update.sh
- bii-support/travis/install/biicode.sh
- bii-support/travis/install/cmake.sh

script:
- bii init -l

after_success:
  # Publish block
- bii user $USER -p $BII_PASSWORD
- bii --version
- if [[ -n $TRAVIS_TAG ]]; then bii publish -r --tag STABLE --versiontag $TRAVIS_TAG; fi
- if [[ -z $TRAVIS_TAG ]]; then bii publish -r; fi

  # If there are changes, commit them
- bii-support/travis/git/commit_changes.sh

env:
  global:
  - USER_EMAIL=azriel91@gmail.com
  - USER_NAME="azriel"
  - COMMIT_IGNORE_BUILD="Promoted version. ***travis***"
  - USER=azriel
  # BII_PASSWORD
  - secure: "qI9icNvac64FAelL5b0rbKQUoALlRwMbP7Mqv/qPGvTpVrXYEqzhJP9cSFDQ5hnrk/00KXAFOReChnTS0XKeFlRcbdE3iNjYtMXP0WJMs9c6jfsXHs14vZBfuNuccKGqAJMGfg8Zpk2EKI9+Gb65A2tyiGEq27rOypcQld+qqPjUQu85BvS74bmGg2n7Vi7CMt15XBWhORUVhKyG9Gdtu/dxigp3vx8Or87fYg9PawzfmQqadpRqT1Gjlni4zwtsEyPMR/T88qz3/S2TbJHbkmSSC6Q+osI2A69TsFJNjusIxS8rYWDuMU615a+XnfSiYW6B7fx7Qh6UniOmzr+PYy7X5Xr2mLta5eeSyTTMpLb+g+fVTEpLFsMR7WxK6rANvMysScOLK1tZRifBJpZIVDAk9m5Y0v5pItyRWg2hPJFS6crJxk5XGwU6iAjHgh0T7OoymStwYiZ6VO5UoaTDqXqwgSoyVVaHeqY45FTo4RwI2AYUHJR1LHcSsuoe4Sn/he6AB0jS+iCs3xj+SMjT2TGpAGANJZgrmlD40ng8Q2QZV57xzuheWo7jnfY7DruLrqv2A56L4BfBFPvQUP/TCMMCJWkUR881rM8VryYwGSV//qkKC9zgaeWbqltiDwFbTqLkFhAd5ys0l3cNWrOGcVYXyPfA4jh1ynx2XQU4KGo="
  # GITHUB_TOKEN
  - secure: frR/+26mnj9huz8aEY+Z8djcoEyi0a+0u5QylGOagY9wvk64WGyRMykoPCHADa4nBA5ymNt+xBmcFCZkNY/TBPWGaB23aIbGoXWDE0tvqAnToTcm+rWlLdfj3akLhmZBRc8rGm+QJbuoVw/KCfbxR5xzlz0UuDCA2CY3dy4UwkI=
